/* Path: assets/css/home.css */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Colors */

:root {
  --primary: #000;
  --primary-medium: #2c2c2c;
  --secondary: linear-gradient(to right, #875ae2, #fac89e);
  --secondary-medium: #fac89e;
  --secondary-dark: #bd6629;

  --bg-light: #f2f2f2;
  --bg-medium: #ded4c9;

  --white: #fff;
  --black: #000;

  --alert-error: #ff2929;
  --alert-success: #00b350;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-medium);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary);
  border: 2px solid var(--primary-medium);
}

::-webkit-scrollbar-thumb:hover {
  background: #171614;
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}

/* ** Age Confirmation Page ** */
/* Path: /index.html */

.confirm-age-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--primary);
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 1s ease-in-out;
  opacity: 0;
}

/* Main content */
.confirm-age {
  clip-path: circle(0%);
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

@font-face {
  font-family: 'BauzietNorm';
  src: url('../fonts/BauzietNorm-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

.confirm-age .content {
  color: #8f79bd;
  background: linear-gradient(to bottom right, #d5c9f1, #daa8f1, #efbfef, #ffe7f5);
  background-size: 150% 150%;

  animation: moveBackground 5s linear infinite;
  font-family: "BauzietNorm", sans-serif;
  font-size: 2em;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate3d(0, -50%, 0);
  transition: color 0.5s ease;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#alert {
  display: none;
  font-size: 0.5em;
  color: #B33951;
  margin-bottom: 1em;
}

.confirm-age a {
  color: #8f79bd;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0rem 0.5rem;
  transition: 0.5s ease;
}

.confirm-age a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
}

.confirm-age .buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  max-width: 250px;
  margin: 1rem auto;
}

.confirm-age .buttons a {
  font-size: 0.85em;
}


/* ** HomePage ** */
/* Path: /home/index.html */

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  z-index: 100;
  clip-path: circle(0%);
}

.navbar {
  opacity: 0;
}

/* -- Hero Section -- */
.hero {
  background: var(--secondary);
}

.hero-container {
  position: relative;
  clip-path: circle(0%);
}

.hero-video {
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
}

.desktop-video {
  display: none;
}

@media screen and (min-width: 480px) {
  .desktop-video {
    display: block;
  }

  .mobile-video {
    display: none;
  }
}

.scroll-down-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
  clip-path: ellipse(60% 100% at 50% 100%);
  z-index: 1;
  animation: bounce 2.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.scroll-down-container a {
  border-radius: 10px;
  padding: 0.5rem;
}

.scroll-down-container a:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

/* -- Vibes Section -- */
.vibes-section {
  padding: 3rem 2rem;
}

.vibes-section .title {
  font-size: clamp(1.75rem, 4vw, 2.5rem);
  font-family: BauzietNorm, sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--white);
  background-color: var(--primary);
  text-align: center;
}

.vibes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vibes-container .vibe {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;

  position: relative;
  color: var(--white);

  transition: all 0.2s ease-in;
}

@media (min-width: 480px) {
  .vibes-container .vibe {
    height: 200px;
    width: 200px;
  }
}

.vibe-creative {
  background-color: #ecb4c5;
}

.vibe-social {
  background-color: var(--secondary-medium);
}

.vibe-relaxing {
  background-color: #85a0d3;
}

.vibe-music {
  background-color: #dc89e7;
}

.vibe img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.vibe-text {
  color: var(--white);
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  text-align: center;
}

.vibe:hover img {
  transform: scale(1.05);
}

/* ScrollReveal extension */
html.sr .reveal {
  visibility: hidden;
}