/* Path: assets/css/main.css */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --primary: #000000;
  --primary-medium: #343434;
  
  --white: #fff;
  --black: #000;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-medium);
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary);
  border: 2px solid var(--primary-medium);
}
::-webkit-scrollbar-thumb:hover {
  background: #171614;
}
::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}

/* * General Styles * */
/* body, html {
  cursor: url("/favicon-32x32.png"), default;
} */

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background: var(--primary);
  width: 100%;
  height: 100%;
}

/* Pages with white background */
body.white-background {
  background: var(--white);
  color: var(--black);
}
body.white-background::-webkit-scrollbar-track {
  background: var(--white);
}
body.white-background::-webkit-scrollbar-thumb {
  background: #a3acad;
  border: 2px solid var(--white);
}
body.white-background::-webkit-scrollbar-thumb:hover {
  background: #bfc6c7;
}
body.white-background::-webkit-scrollbar-thumb:active {
  background: #8b9394;
}

a {
  color: inherit;
}

img {
  font-size: 10px; /* image alt text */
}

/* * Spacing * */

.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-56 {
  margin-top: 56px;
}
.mt-64 {
  margin-top: 64px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-88 {
  margin-top: 88px;
}
.mt-96 {
  margin-top: 96px;
}

/* navbar */
nav {
  position: relative !important;
}
nav.light {
  background-color: var(--white);
}

/* ** Featured Strains Page ** */
/* Path: /featured-strains/index.html */

.featured-strains {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  padding: 7rem 5rem 0 5rem ;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  -webkit-mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
  mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
  cursor: grab;
}
.featured-strains:active {
  cursor: grabbing;
}
.featured-strains::-webkit-scrollbar {
  display: none;
}
.featured-strains__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
.featured-strains__container img {
  width: auto;
  max-width: 275px;
  height: auto;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

@media (max-width: 768px) {
  .featured-strains {
    padding: 5rem 2rem 0 2rem;
  }

  .featured-strains__container img {
    width: 200px;
  }
}

.featured-strains__container.active img:first-child {
  filter: drop-shadow(0 0 60px #ffffffb3);
}
.featured-strains__container.active img:last-child {
  filter: drop-shadow(0 0 35px #ffffffb3);
}

[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

.dropdown-content {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.strains-description {
  font-family: ClarikaProGeo, sans-serif;
  text-align: center;
  padding: 2rem;
  margin: auto;
  color: #e7e7e7;
  background-color: var(--primary-medium);
}
.strains-description__title {
  font-size: clamp(1.5rem, 2.75rem, 3.5rem);
  font-weight: 400;
  margin-bottom: 2rem;
  font-family: BauzietNorm, sans-serif;
}
.strains-description__text {
  max-width: 1200px;
  margin: 0 auto;
}
.strains-description__text p {
  font-size: clamp(0.8rem, 1.75rem, 2rem);
  font-weight: 300;
  color: #e7e7e7;
}
.strains-description__text p.contents {
  font-style: italic;
}
  
@media (min-width: 1200px) {
  .strains-description__text p:first-child {
    padding-inline: 2rem;
  }
}
.strains-description__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: clamp(0.8rem, 1.75rem, 2rem) !important;
  font-weight: 200;
}
.strains-description__subtitle .good-for {
  white-space: nowrap;
}
.line01 {
  border-top: 1px solid #e7e7e7;
  width: 25%;
  margin: 2rem 0;
}
.strains-description__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  font-size: clamp(0.8rem, 2.25rem, 2.75rem);
  font-weight: 200;
}
.strains-description__flex.packaging-items img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.strains-description__flex.packaging-items img.flower-img {
  width: 250px;
}
.strains-description__flex.packaging-items img.rolls-img {
  width: 225px;
}
.strains-description__flex.packaging-items span p {
  margin-top: 2rem;
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .strains-description {
    padding: 2rem 0.5rem;
  }
  .strains-description__flex {
    gap: 2rem;
  }
  .strains-description__flex.packaging-items img.flower-img {
    width: 175px;
  }
  .strains-description__flex.packaging-items img.rolls-img {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .strains-description__flex {
    flex-direction: column;
  }
}

/* ** Apparel Page ** */
/* Path: /apparel/index.html */
.apparel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: 6rem;
}

h1.apparel__title {
  font-weight: 400;
  font-size: 4rem;
  font-family: "BauzietNorm", sans-serif;
  color: var(--black);
}

h1.apparel__title.white {
  color: var(--white);
}

@media (max-width: 768px) {
  .apparel__title {
    font-size: 2.5rem;
  }
}

.apparel__color-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 0.4rem;
}

.apparel__color-cards .card {
  position: relative;
  width: 215px;
  height: 435px;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #FAC89E, #875AE2
    )1;
    
}
@media (max-width: 480px) {
  .apparel__color-cards .card {
    width: 150px;
    height: 300px;
  }
}

.apparel__color-cards .black {
  background-color: var(--black);
}
.apparel__color-cards .black .preview {
  border: 5px solid var(--black);
}

.apparel__color-cards .white {
  background-color: var(--white);
}
.apparel__color-cards .white .preview {
  border: 5px solid var(--white);
}

.apparel__color-cards .tan {
  background-color: #ebd8ba;
}
.apparel__color-cards .tan .preview {
  border: 5px solid #ebd8ba;
}

.apparel__color-cards .blue {
  background-color: #96b8d1;
}
.apparel__color-cards .blue .preview {
  border: 5px solid #96b8d1;
}

.apparel__color-cards .preview {
  display: none;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 400px;
  z-index: 100;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .apparel__color-cards .preview {
    width: 300px;
    height: 300px;
    left: -25%;
    top: -20%;
  }
}
@media (max-width: 480px) {
  .apparel__color-cards .preview {
    width: 200px;
    height: 200px;
    left: -20%;
  }
}

.apparel__color-cards .card:hover .preview {
  display: block;
}
.apparel__color-cards .preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.apparel__cta {
  margin-block: 4rem;
}
.apparel__cta a {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "ClarikaProGeo", sans-serif;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  padding: 1rem 8rem;
  border-radius: 41px;
  transition: all 0.2s ease-in-out;
}

.apparel__cta a:hover,
.apparel__cta a:active {
  color: var(--white);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .apparel__cta a {
    padding: 1rem 4rem;
  }
}
@media (max-width: 480px) {
  .apparel__cta a {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

/* Apparel Page Extension */
.apparel-extension {
  padding-bottom: 5rem;
}
.apparel-extension .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  margin-block: 3rem;
}

@media (max-width: 768px) {
  .apparel-extension .content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

/* @media (min-width: 768px) {
  .apparel-extension .selected-image-preview {
    height: 557px;
    overflow: hidden;
  }
} */

.apparel-extension .selected-image-preview {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .apparel-extension .selected-image-preview {
    width: 100%;
    height: 100%;
  }
}

.apparel-extension .selected-image-preview img {
  transform-origin: center;
  object-fit: cover;
  width: 100%;
  height: auto;
  cursor: zoom-in;
  transition: all 0.1s linear;
}

.apparel-extension .right {
  padding-inline: 1.5rem;
}

.apparel-extension .image-list {
  transform: translateY(125%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.apparel-extension .apparel__cta {
  transform: translateY(1000%);
}

@media (max-width: 968px) {
  .apparel-extension .image-list {
    transform: translateY(100%);
  }

  .apparel-extension .apparel__cta {
    transform: translateY(600%);
  }
}

@media (max-width: 820px) {
  .apparel-extension .image-list {
    transform: translateY(50%);
  }

  .apparel-extension .apparel__cta {
    transform: translateY(300%);
  }
}

@media (max-width: 768px) {
  .apparel-extension .image-list {
    transform: translateY(0);
  }
}

.apparel-extension .image-list img {
  width: 105px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.apparel-extension .image-list .img-container {
  border-radius: 21px;
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.apparel-extension .image-list .img-container.active {
  border: 2px solid var(--black);
}

.apparel-extension .apparel__cta a {
  font-weight: 500;
  color: var(--black);
  border: 1px solid var(--black);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .apparel-extension .apparel__cta {
    margin-top: 5rem;
    transform: translateY(0);
    text-align: center;
  }

  .apparel-extension .apparel__cta a {
    padding: 1rem 6rem;
  }
}
