/* Path: assets/css/main.css */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --primary: #000000;
  --primary-medium: #343434;

  --white: #fff;
  --black: #000;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-medium);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary);
  border: 2px solid var(--primary-medium);
}

::-webkit-scrollbar-thumb:hover {
  background: #171614;
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}

/* * General Styles * */
html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background: var(--primary);
  width: 100%;
  height: 100%;
}

/* Pages with white background */
body.white-background {
  background: var(--white);
  color: var(--black);
}

body.white-background::-webkit-scrollbar-track {
  background: var(--white);
}

body.white-background::-webkit-scrollbar-thumb {
  background: #a3acad;
  border: 2px solid var(--white);
}

body.white-background::-webkit-scrollbar-thumb:hover {
  background: #bfc6c7;
}

body.white-background::-webkit-scrollbar-thumb:active {
  background: #8b9394;
}

a {
  color: inherit;
}

img {
  font-size: 10px;
  /* image alt text */
}

/* * Spacing * */

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-96 {
  margin-top: 96px;
}

/* logo image */
.logo img {
  vertical-align: unset;
}

/* ** Products Page ** */
/* Path: /products/index.html */
.featured-strains-section {
  margin-top: 5rem;
}

@media (max-width: 480px) {
  .featured-strains-section {
    margin-top: 3rem;
  }
}

.featured-strains-section .title {
  color: var(--white);
  font-size: clamp(1.75rem, 3vw, 2.75rem);
  text-align: center;
  font-weight: 400;
  font-family: BauzietNorm, sans-serif;
  background: linear-gradient(to right, #875AE2, #FAC89E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* @media (min-width: 1010px) {
  .featured-strains .swiper-wrapper {
    justify-content: center;
  }
} */

.featured-strains .swiper-slide {
  width: 275px;
  height: auto;
}

@media (max-width: 768px) {
  .featured-strains .swiper-slide {
    width: 225px;
  }
}

@media (max-width: 480px) {
  .featured-strains .swiper-slide {
    width: 185px;
  }
}

.featured-strains .swiper-wrapper {
  padding-bottom: 1rem;
}

.featured-strains__container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 4.25rem 1rem 1.5rem 1rem;
}

.featured-strains__container img {
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.featured-strains__container.active img:first-child {
  filter: drop-shadow(0 0 45px #ffffffb3);
}

.featured-strains__container.active img:last-child {
  filter: drop-shadow(0 0 25px #ffffffb3);
}

.featured-strains-section {
  position: relative;
}

/* ----- Beverages ----- */
.beverages-section {
  margin-top: 2rem;
  padding-bottom: 5rem;
}

.beverages-title {
  font-size: clamp(1.75rem, 3vw, 2.75rem);
  font-weight: 400;
  margin-bottom: 4rem;
  font-family: BauzietNorm, sans-serif;
  background: linear-gradient(to right, #875AE2, #FAC89E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.beverages img {
  position: relative;
  object-fit: cover;
  transform: rotate(-15deg);
}

.beverages .swiper-slide {
  width: 225px;
  height: auto;
  padding: 2rem 4.5rem;
  margin-inline: 1.75rem;

  border: thin solid var(--secondary-medium);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .beverages .swiper-slide {
    width: 195px;
    padding: 2rem 4rem;
    margin-inline: 1rem;
  }
}

@media (max-width: 480px) {
  .beverages .swiper-slide {
    width: 145px;
    padding: 1.5rem 3rem;
  }
}

.beverages .swiper-wrapper {
  padding-bottom: 3rem;
}


/* *----------* Apparel Page *----------* */
/* Path: /apparel/index.html */
/* h1.apparel__title {
  font-weight: 400;
  font-size: 4rem;
  font-family: 'BauzietNorm', sans-serif;
  color: var(--black);
} */

.apparel__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 4rem;
}

.apparel__cta a {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'ClarikaProGeo', sans-serif;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  padding: 1rem 8rem;
  border-radius: 41px;
  transition: all 0.2s ease-in-out;
}

.apparel__cta a:hover,
.apparel__cta a:active {
  color: var(--white);
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.03);
  transition: .1s ease;
}

@media (max-width: 768px) {
  .apparel__cta a {
    padding: 1rem 4rem;
  }
}

@media (max-width: 480px) {
  .apparel__cta a {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

/* Swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.apparel .swiper {
  margin-top: 10rem;
}

.swiper-wrapper {
  width: fit-content;
  margin: auto;
}

.apparel .swiper-slide {
  width: 215px;
  height: 435px;
  background-color: #fff;
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 150px;
    height: 300px;
  }
}

.swiper-slide img {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
}

.apparel .swiper-slide img {
  height: 100%;
}

/* Slide on /products/ */
.header {
  position: relative;
  width: 100%;
  height: max(50vh, 325px);
  overflow: hidden;
}

@media (max-width: 480px) {
  .header {
    height: max(30vh, 200px);
  }
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .75) 100%);
  z-index: 1;
}

.header__background__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__background__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.header__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.header__content__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header__content__text__title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 500;
  font-family: 'BauzietNorm', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 1rem;
}

.header__arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 2;
}

@media (max-width: 768px) {
  .header__arrow {
    padding: 1rem 0.5rem;
  }
}

.header__arrow .arrow {
  color: var(--white);
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-family: 'BauzietNorm', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: .5rem;
  padding: .25rem 1rem;
  line-height: 1;
  /* border: 1px solid #fff; */
}

.header__arrow .arrow-icon {
  font-size: 1rem;
}

.header__arrow .arrow:hover {
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

/*
  This code block applies styles to the data-tab-info elements and their
  children. The display of the data-tab-info elements is toggled by adding
  or removing the 'active' class. The elements being toggled have a
  fade-in animation applied to them.
*/
[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

.item,
.dropdown-content {
  animation: fadeEffect 1.5s ease;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.no-animation {
  animation: none !important;
}

/* ----- Apparel Page Extensions ----- */
.apparel-extension .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  margin-top: 11rem;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .apparel-extension .content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
}

/* @media (min-width: 768px) {
  .apparel-extension .selected-image-preview {
    height: 557px;
    overflow: hidden;
  }
} */

.apparel-extension .selected-image-preview {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .apparel-extension .selected-image-preview {
    width: 100%;
    height: 100%;
  }
}

.apparel-extension .selected-image-preview img {
  transform-origin: center;
  object-fit: cover;
  width: 100%;
  height: auto;
  cursor: zoom-in;
  transition: all .1s linear;
  position: relative;
}

.apparel-extension .right {
  position: relative;
  padding-inline: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.apparel-extension .image-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.apparel-extension .apparel__cta {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .apparel-extension .apparel__cta {
    bottom: -125px;
  }
}

.apparel-extension .apparel__cta:hover {
  background: rgba(0, 0, 0, 0.03)
}

.apparel-extension .image-list img {
  width: 105px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.apparel-extension .image-list .img-container {
  border-radius: 21px;
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.apparel-extension .image-list .img-container.active {
  border: 2px solid var(--black);
}

.apparel-extension .apparel__cta a {
  font-weight: 500;
  color: var(--black);
  border: 1px solid var(--black);
  white-space: nowrap;
  max-width: 90%;
  padding: 1rem 8rem 1rem 7rem;
}
