/* Path: assets/css/main.css */
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */

:root {
  --primary: #000000;
  --primary-medium: #343434;

  --white: #fff;
  --black: #000;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-medium);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--primary);
  border: 2px solid var(--primary-medium);
}

::-webkit-scrollbar-thumb:hover {
  background: #171614;
}

::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}

/* * General Styles * */
html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background: var(--primary);
  width: 100%;
  height: 100%;
}

/* Pages with white background */
body.white-background {
  background: var(--white);
  color: var(--black);
}

body.white-background::-webkit-scrollbar-track {
  background: var(--white);
}

body.white-background::-webkit-scrollbar-thumb {
  background: #a3acad;
  border: 2px solid var(--white);
}

body.white-background::-webkit-scrollbar-thumb:hover {
  background: #bfc6c7;
}

body.white-background::-webkit-scrollbar-thumb:active {
  background: #8b9394;
}

a {
  color: inherit;
}

img {
  font-size: 10px;
  /* image alt text */
}

/* * Spacing * */

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-88 {
  margin-top: 88px;
}

.mt-96 {
  margin-top: 96px;
}

/* navbar */
nav {
  position: relative !important;
}

nav.light {
  background-color: var(--white);
}



/* ** Products Page ** */
/* Path: /products/index.html */
.featured-strains-section {
  margin-top: 7rem;
}

@media (max-width: 480px) {
  .featured-strains-section {
    margin-top: 3rem;
  }
}

.featured-strains-section .title {
  color: var(--white);
  font-size: clamp(1.75rem, 3vw, 2.75rem);
  text-align: center;
  font-weight: 400;
  font-family: BauzietNorm, sans-serif;
  background: linear-gradient(to right, #875AE2, #FAC89E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featured-strains {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  padding: 5rem 5rem 0 5rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  -webkit-mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
  mask: linear-gradient(90deg, #0000, #000 10% 80%, #0000);
  cursor: grab;
}

.featured-strains::-webkit-scrollbar {
  display: none;
}

.featured-strains__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  cursor: pointer;
}

.featured-strains__container img {
  width: auto;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

@media (max-width: 768px) {
  .featured-strains {
    padding: 5rem 2rem 0 2rem;
  }

  .featured-strains__container img {
    width: 200px;
  }
}

.featured-strains__container.active img:first-child {
  filter: drop-shadow(0 0 60px #ffffffb3);
}

.featured-strains__container.active img:last-child {
  filter: drop-shadow(0 0 35px #ffffffb3);
}

.featured-strains-section {
  position: relative;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(5px);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}

[data-tab-info] {
  display: none;
}

.active[data-tab-info] {
  display: block;
}

.dropdown-content,
.item {
  animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.strains-description {
  font-family: ClarikaProGeo, sans-serif;
  text-align: center;
  padding: 2rem;
  margin: auto;
  color: #e7e7e7;
}

.strains-description__title {
  font-size: clamp(1.75rem, 3vw, 2.75rem);
  font-weight: 400;
  margin-bottom: 4rem;
  font-family: BauzietNorm, sans-serif;
  background: linear-gradient(to right, #875AE2, #FAC89E);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.strains-description__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem 4rem;
}

.packaging-items img {
  max-width: 100%;
  width: 95px;
  height: auto;
  object-fit: cover;
  transform: rotate(-15deg);
}

.packaging-items span {
  border: 1px solid #FAC89E;
  padding: 1.5rem 4.5rem;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .strains-description {
    padding: 2rem 0.5rem;
  }

  .packaging-items img {
    width: 65px;
  }

  .packaging-items span {
    padding: 1.25rem 3.5rem;
  }
}

@media (max-width: 480px) {
  .strains-description__flex {
    flex-direction: column;
  }
}

/* ** Apparel Page ** */
/* Path: /apparel/index.html */
/* h1.apparel__title {
  font-weight: 400;
  font-size: 4rem;
  font-family: 'BauzietNorm', sans-serif;
  color: var(--black);
} */

.apparel__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 4rem;
}

.apparel__cta a {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'ClarikaProGeo', sans-serif;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  background-color: transparent;
  padding: 1rem 8rem;
  border-radius: 41px;
  transition: all 0.2s ease-in-out;
}

.apparel__cta a:hover,
.apparel__cta a:active {
  color: var(--white);
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.03);
  transition: .1s ease;
}

@media (max-width: 768px) {
  .apparel__cta a {
    padding: 1rem 4rem;
  }
}

@media (max-width: 480px) {
  .apparel__cta a {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}

/* Swiper */

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 7rem;
}

.swiper-wrapper {
  width: fit-content;
  margin: auto;
}

.swiper-slide {
  width: 215px;
  height: 435px;
  background-color: #fff;
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 150px;
    height: 300px;
  }
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

/* Slide on /products/ */
header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: -3.1rem;
}

@media (max-width: 768px) {
  header {
    height: 50vh;
  }
}

.header__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__background__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__background__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.header__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.header__content__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header__content__text__title {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.header__arrow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}

@media (max-width: 768px) {
  .header__arrow {
    padding: 1rem 0.5rem;
  }
}

.header__arrow .arrow {
  color: var(--white);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__arrow .arrow-icon {
  font-size: 1rem;
}

.header__arrow .arrow:hover {
  color: var(--white);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
